.sidebar{
    /* width: 250px; */
  
    background-color: #2f4050;
    color: white;
}
.link {
    color: white;
    text-decoration: none;
}

.listitem{
    list-style: none;
}

@media only screen and (min-width: 0px) and (max-width : 992px){
    .sidebar{
        display: none;
    }
}
@media only screen and  (min-width : 992px){
    .sidebar{
        height: auto;
    }
}